
DDDwithMediatR/DDDwithMediatR/obj/
DDDwithMediatR/DDDwithMediatR/bin/
/.vs
*.dll
*.txt
DDDwithMediatR/.vs/
DDDwithMediatR/DDDwithMediatR/Migrations/

DDDwithMediatR/ServicesTests/obj/
DDDwithMediatR/ServicesTests/bin/
